* {
    font-family: Roboto;
    margin:0px;
    padding:0px;
    font-family: Roboto;
   
}
#container1{
    position: absolute;
    display: grid;
    width:100%;
    height:16em;
    align-items: center;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
    z-index: 5;
}
.Upper_Band{
    position: relative;
    bottom: 23px;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #275ec2;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
}
.Upper_Band article{
    /* transform: translateX(0%); */
    animation-name: uperband;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes uperband{
0%{transform: translateX(13%);};
100%{transform: translateX(0%);};
}
.Upper_Band span{
    font-weight: 600;
    color: yellow;
}
.navbar{
    position: relative;
    top: 19px;
    grid-row: 1/2;
    grid-column: 1/2; 
    display: grid;
    justify-content: center;
    z-index: 5;
}
.navbar ul{
    display: flex;
    justify-content: center;
    gap:10px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none; 
    color: black;
    font-size: 14px;
    font-weight: 450;
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 7px;
}
/* .navbar ul li:hover a{
    color: white;
    background-color: black;
} */
.img{
    grid-row: 1;
    grid-column: 1/2; 
    top: 21px;
    left: 0px;
    width:20px;
    display: inline-block;
    position: relative;
}
.img img{
border-radius: 12px;
 height: 41px;   
}
.upcoming_Matches{
    display: grid;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/2;   
}
.upcoming_Matches >h2{
    display: grid;
    justify-self: center;
}
.match_container{
    display: flex;
    
}
.Match{
    position: relative;
    display: flex;
    margin: 20px;
    transform: translateX(40%);
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 0px 10px;
    width: 150px;
    height: 100px;
    text-align: center;
    animation-name: matches;

    animation-duration:20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes matches{
    0%{ transform: translateX(-1000%)}; 
  
}
#sub-navbar{
}
#sub-navbar ul li{
    position: relative;
    bottom: 0%;
    list-style: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
}
#sub-navbar {
    visibility: hidden;
    position: relative;
    z-index: 2;
    height: 0%;
    display: flex;
    justify-content: center;
    grid-row:2/3;
    grid-column: 1/2;
    column-gap:13rem;
}
#sub-navbar2{
}
#sub-navbar2 ul li{
    position: relative;
    bottom: 0%;
    list-style: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
    }
#sub-navbar2 {
    visibility: hidden;
    position: relative;
    z-index: 2;
    height: 0%;
    display: flex;
    justify-content: center;
    grid-row:2/3;
    grid-column: 1/2;
    column-gap:13rem;
}
#sub-navbar3{
}
#sub-navbar3 ul li{
    position: relative;
    z-index: 2;
    bottom: 0%;
    list-style: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
    }
#sub-navbar3{
    visibility: hidden;
    position: relative;
    z-index: 2;
    height: 0%;
    display: flex;
    justify-content: center;
    grid-row:2/3;
    grid-column: 1/2;
    column-gap:13rem;
}
#sub-navbar4{
}
#sub-navbar4 ul li{
    position: relative;
    z-index: 2;
    bottom: 0%;
    list-style: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
    }
#sub-navbar4{
    visibility: hidden;
    position: relative;
    z-index: 2;
    height: 0%;
    display: flex;
    justify-content: center;
    grid-row:2/3;
    grid-column: 1/2;
    column-gap:13rem;
}
#sub-navbar5{
}
#sub-navbar5 ul li{
    position: relative;
    z-index: 2;
    bottom: 0px;
    list-style: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
    }
#sub-navbar5{
    visibility: hidden;
    position: relative;
    z-index: 2;
    height: 0%;
    display: flex;
    justify-content: center;
    grid-row:2/3;
    grid-column: 1/2;
    column-gap:13rem;
}
#container2{
    visibility: hidden;
    position: absolute;
    width: 99vw;
    z-index: 2;
    background-color: rgb(255,255,255,0.1);
    backdrop-filter: blur(1.1px);
    height: 99vh;
}
#container3{
    top:0px;
    width: 98vw; 
    height: 70em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: relative;
    top:50px;
    width: 90vw; 
    height: 40em;  
    background-color: cornflowerblue;
    box-shadow: inset 10px 10px 117px rgb(108, 7, 240);
    border-radius: 0px 250px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
}
.slogans >h1{
    text-align: center;
    display:inline-block;

}
.slogans >p{
    width: 300px;
}
.slogans{
    display: grid;
    row-gap: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    color: white;
}



