* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
#container1{
    display: grid;
    position: relative;
    height: 54px;
    width:100%;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
}
.navigation{
    width: 100%;
    top: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    grid-row: 1;
    grid-column: 2/3;
}
.img{
    grid-row: 1;
    grid-column: 1/2;
    z-index: 2;
}
.navbar ul li a {
    /* background-color: pink; */
   z-index: 2; 
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    /* cursor: pointer; */
}
.navigation ul li{
    display: flex;
    list-style: none;
}
.navigation ul li a{
    color: black;
    font-size: 14px;
    font-weight: 450;
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 7px;
    text-decoration: none;
}
.navigation ul li:hover a{
    color: white;
    background-color: black;
}
.box1{
    position: absolute;
    height: 0px;
    top:30px;
    color:none;
    font-size: 20px;
    font-weight: 550;
    visibility: hidden;
}
.nav2 >ul >li{
    position: relative;
    height:0px;
}
.box1 ul{
    position: relative;
    right:10px;
    top:10px;
    gap: 5px;
    width:50px;
}
.navbar:hover .box1{ 
    transition:all .3s linear;
    /* position: relative; */
    visibility: visible;
    color: rgb(13, 13, 13);
    left:0px;
    top:38px;
    width:100%; 
    height:9em;
    display: flex;
    justify-content:center;
    column-gap:16rem;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.box1 .nav2{
    height: 150px;
}
.box1 .nav3{
   height: 50px;
}
.box2{
   position: relative;
   top: 300rem;
}
.navbar:hover .box2{
    position: absolute;
    left:0px;
    right:0px;
    top: 80px;
    height:100%;
    width:100%;
    background-color: rgb(255,255,255,0.1);
    backdrop-filter: blur(1px);
} 
.navbar:hover .box1 ul li{
    transition: all .3s linear;
    left: 10px;
    right:10px;
    height: 12px;
    font-weight: 450;
}
.box2:hover{
    display: none;
  }
#container2{

      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .testing h1{
    height: 20vh;
    width: 10vw;
  }